// colors

$white: #fff;
$dark-gray: #4a4a4a;

//

.transferFilter {
  padding: 20px 0 10px;
  width: 232px;
  height: 252px;
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  &__title {
    display: block;
    margin-bottom: 10px;
    padding: 0 20px;
    color: $dark-gray;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__filterList {
    list-style: none;
  }
}
